input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="checkbox"] {
  width: 0;
  height: 0;
  visibility: hidden;
}
.Switcher {
  width: 120px;
  height: 60px;
  display: block;
  background: #f4f4f5;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 0 20px #477a8550;
  transform: rotate(90deg);
  background-image: url(./img/dark-light.svg);
  background-repeat: no-repeat;
  background-position: center right 10px;
}
.Switcher::after {
  content: url(./img/Vector.png);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 60px;
  border: 1px solid #e5e7eb;
  box-shadow: 0px 2px 4px rgba(57, 61, 69, 0.06);
  border-radius: 8px;
  background: #ffffff;
  position: absolute;
  left: -4px;

  transition: 0.5s;
}

input:checked + .Switcher:after {
  left: 124px;
  transform: translateX(-100%);
  display: flex;
  justify-content: center;
  align-items: center;
  content: url(./img/darkmoon-dark.png);
  background-color: #262626;
}

input:checked + .Switcher {
  background-color: #a3a3a3;
  background-image: url(./img/Vector.png);
  background-repeat: no-repeat;
  background-position: center left 20px;
}

.Switcher:active:after {
}
